.navigation {
  width: 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(100% + 2px);
  left: calc(-150%);
  z-index: 1;
}

.nav-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.nav-arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #EEE;
}

.nav-button {
  border: none;
  background-color: #EEE;
  font-size: 0.9em;
  padding: 5px 10px;
  margin: 0;
  color: #000;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #FFF;
}

.nav-button-icon {
  margin-right: 5px;
}

.nav-button-text {

}

.user-icon {
  color: #EEE;
  cursor: pointer;
}

.user-icon:hover {
  color: #FFF;
}

.user-button {
  position: relative;
}